# Configurations
eslint.config.cjs
.eslintrc.json
tsconfig.json
pnpm-lock.yaml
pnpm-workspace.yaml

# Version control / CI
.github
.gitignore

# IDE / editor settings
.vscode
.idea

# Dependencies
node_modules

# Documentation
Examples