# Configuration files
eslint.config.cjs
.eslintrc.json
tsconfig.json

# Git-related files and directories
.github
.gitignore

# IDE and editor files
.idea

# Dependency files
node_modules
pnpm-lock.yaml
pnpm-workspace.yaml

# Secrets and sensitive files
secrets.cjs

# Source and test files
src
Tests

# Documentation and development files
CHANGELOGS.md
xp.ts

# Exceptions
!lib/src